
 .CartImage{
   width: 30%;
   height: 30%;
 }
 .Cartimg{
  width: 35%;
 }
 .CartDescription{
   width: 50%;
   font-size: 15px;
   height: 130px;
   margin-left: 10px;
   overflow: hidden;
 }

 .CartItem{
  border: 1px solid black;
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding-top: 10px;
   margin: 10px;

 }

.placeOrder{
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin:10px auto;
  width:60%
}
.placeOrder:hover,.AddToCart button:hover,.cart button:hover{
  cursor: pointer;
}
.AddToCart button{
  margin-left: 10px;
  background-color: #10AB10;
  color: white;
  border :1px solid #10AB10;border-radius: 5px;
  padding: 5px;
}

.cart{
  font-size:17px;
  border: 1px solid rgb(16, 16, 15);
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
Button :hover{
  cursor: pointer;
}

.CartList{
  width:50%;
  z-index: 2;
  display:flex;
  overflow-y:scroll;
  position:absolute;
  top:75%;
  height: fit-content;
  border:1px solid black;
  background-color: lightgray;
  flex-direction:column;
}

.cart:hover{
  cursor:pointer;
}