*{
    padding: 0px;
    box-sizing: border-box;
}
.RestaurantLink{
    color: black;
    text-decoration: none;
}
.Restaurant{
    border: 1px solid rgb(203, 199, 199);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    width: 30%;
    color: black;
    text-decoration: none;
}
.Restaurant:hover{
    box-shadow: 5px 5px rgb(211, 212, 212);
 }
 .Image{
    width: 100%;
    border-radius: 20px;
    height: 250px;
}